Answer: The average MSE of this model is lower compare from model in Step B. And it has a standard deviation is much smaller

PART D: 
The average MSE of the model 129.36095447918808
with standard deviation of 14.06911516891001

In [1]:
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# define regression model
'''
One hidden layer of 10 nodes, and a ReLU activation function
Use the adam optimizer and the mean squared error as the loss function.
'''
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [4]:
target = concrete_data['Strength']
predictors = concrete_data.drop('Strength',axis=1)

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
'''
Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors
'''
mse_list = []
for i in range(50):

    '''
    Randomly split the data into a training 
    test sets by holding 30% of the data for testing
    '''
    X_train, X_test, y_train, y_test =\
    train_test_split(predictors_norm, target,test_size=0.30)
    X_train.shape, X_test.shape

    '''
    Train the model on the training data using 50 epochs
    '''
    n_cols = predictors_norm.shape[1]
    model = regression_model()
    model.fit(X_train, y_train, epochs=50,verbose=0)
    '''
    Evaluate the model on the test data and compute the mean squared error
    '''
    preds = model.predict(X_test)
    score = mean_squared_error(y_test,preds)
    mse_list.append(score)
    
    print('Iternation #',i,'MSE:',score)

Iternation # 0 MSE: 133.91261443127732
Iternation # 1 MSE: 135.50371284333107
Iternation # 2 MSE: 146.67220951090763
Iternation # 3 MSE: 117.11502876774051
Iternation # 4 MSE: 126.69758669889666
Iternation # 5 MSE: 149.2688405007676
Iternation # 6 MSE: 125.78895846008304
Iternation # 7 MSE: 131.4650319403204
Iternation # 8 MSE: 128.47652675603476
Iternation # 9 MSE: 133.7847470449231
Iternation # 10 MSE: 121.59641623863466
Iternation # 11 MSE: 135.5939645054241
Iternation # 12 MSE: 141.42642750341
Iternation # 13 MSE: 159.05167582044496
Iternation # 14 MSE: 125.34622425069253
Iternation # 15 MSE: 127.6388117889634
Iternation # 16 MSE: 113.22915210729785
Iternation # 17 MSE: 119.05897061088952
Iternation # 18 MSE: 155.34693056463948
Iternation # 19 MSE: 130.69993750580633
Iternation # 20 MSE: 130.86311332177667
Iternation # 21 MSE: 142.5683529258698
Iternation # 22 MSE: 128.8622360108059
Iternation # 23 MSE: 139.41856601142194
Iternation # 24 MSE: 116.20282149191243
Iternation # 25 MSE: 149.2123131557471
Iternation # 26 MSE: 126.37449329033981
Iternation # 27 MSE: 112.85502041688672
Iternation # 28 MSE: 129.31493105969668
Iternation # 29 MSE: 121.2921657790995
Iternation # 30 MSE: 129.24578016331503
Iternation # 31 MSE: 123.30987848723504
Iternation # 32 MSE: 129.80852921429906
Iternation # 33 MSE: 147.41206383671528
Iternation # 34 MSE: 133.05191578859538
Iternation # 35 MSE: 118.70485873766646
Iternation # 36 MSE: 125.52985710054487
Iternation # 37 MSE: 116.73181480196267
Iternation # 38 MSE: 119.66451895647003
Iternation # 39 MSE: 142.1320524879824
Iternation # 40 MSE: 149.79317969522762
Iternation # 41 MSE: 133.02963218688967
Iternation # 42 MSE: 131.6382009215831
Iternation # 43 MSE: 133.5006329087067
Iternation # 44 MSE: 137.10599894191625
Iternation # 45 MSE: 100.82854625849497
Iternation # 46 MSE: 131.29564525743757
Iternation # 47 MSE: 133.1345174930491
Iternation # 48 MSE: 89.69842983588225
Iternation # 49 MSE: 87.79388957138978

In [7]:
'''
 Report the mean and the standard deviation of the mean squared errors
'''
print('The avearage MSE of the model', np.mean(mse_list), 'standard dev of',np.std(mse_list))

The avearage MSE of the model 129.36095447918808 standard dev of 14.06911516891001