Answer: The average MSE of this model is lower compare from model in Step B. And it has a standard deviation is much smaller

PART C: 
The average MSE of the model 170.6291778958415
with standard deviation of 24.19207249414636

In [1]:
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# define regression model
'''
One hidden layer of 10 nodes, and a ReLU activation function
Use the adam optimizer and the mean squared error as the loss function.
'''
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [4]:
target = concrete_data['Strength']
predictors = concrete_data.drop('Strength',axis=1)

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
'''
Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors
'''
mse_list = []
for i in range(50):

    '''
    Randomly split the data into a training 
    test sets by holding 30% of the data for testing
    '''
    X_train, X_test, y_train, y_test =\
    train_test_split(predictors_norm, target,test_size=0.30)
    X_train.shape, X_test.shape

    '''
    Train the model on the training data using 50 epochs
    '''
    n_cols = predictors_norm.shape[1]
    model = regression_model()
    model.fit(X_train, y_train, epochs=100,verbose=0)
    '''
    Evaluate the model on the test data and compute the mean squared error
    '''
    preds = model.predict(X_test)
    score = mean_squared_error(y_test,preds)
    mse_list.append(score)
    
    print('Iternation #',i,'MSE:',score)

Iternation # 0 MSE: 187.6861103535411
Iternation # 1 MSE: 167.52434930837
Iternation # 2 MSE: 184.48835190067874
Iternation # 3 MSE: 193.45260603801782
Iternation # 4 MSE: 164.26903042763539
Iternation # 5 MSE: 232.30008884173827
Iternation # 6 MSE: 145.74121144408323
Iternation # 7 MSE: 180.98803262951103
Iternation # 8 MSE: 161.49938381655568
Iternation # 9 MSE: 247.1084100486264
Iternation # 10 MSE: 148.82894450667607
Iternation # 11 MSE: 137.9094419773759
Iternation # 12 MSE: 164.5550376450526
Iternation # 13 MSE: 158.1745038586033
Iternation # 14 MSE: 167.1507058990851
Iternation # 15 MSE: 155.32516931023153
Iternation # 16 MSE: 156.19473452122
Iternation # 17 MSE: 182.42131309416854
Iternation # 18 MSE: 149.98295132982076
Iternation # 19 MSE: 174.36986233800877
Iternation # 20 MSE: 144.46564323922797
Iternation # 21 MSE: 150.84502922631904
Iternation # 22 MSE: 125.90363979458539
Iternation # 23 MSE: 147.40656109281196
Iternation # 24 MSE: 163.84029090968755
Iternation # 25 MSE: 134.51351999025962
Iternation # 26 MSE: 154.17384853432324
Iternation # 27 MSE: 186.596709354584
Iternation # 28 MSE: 161.09267818944696
Iternation # 29 MSE: 176.31995791734604
Iternation # 30 MSE: 169.43713733754726
Iternation # 31 MSE: 159.56275391101508
Iternation # 32 MSE: 166.9029451955698
Iternation # 33 MSE: 173.79714584414725
Iternation # 34 MSE: 166.20631952571702
Iternation # 35 MSE: 172.1571950203677
Iternation # 36 MSE: 199.55905977618633
Iternation # 37 MSE: 161.56951499455099
Iternation # 38 MSE: 173.01314981741865
Iternation # 39 MSE: 151.94577477411153
Iternation # 40 MSE: 169.09652692421565
Iternation # 41 MSE: 173.90562648556332
Iternation # 42 MSE: 200.92087030093182
Iternation # 43 MSE: 194.65422411667367
Iternation # 44 MSE: 157.67012770955563
Iternation # 45 MSE: 196.7784044750957
Iternation # 46 MSE: 205.7170737918849
Iternation # 47 MSE: 226.78480516538713
Iternation # 48 MSE: 136.4004631035253
Iternation # 49 MSE: 170.25165898501683

In [7]:
'''
 Report the mean and the standard deviation of the mean squared errors
'''
print('The avearage MSE of the model', np.mean(mse_list), 'standard dev of',np.std(mse_list))

The avearage MSE of the model 170.6291778958415 standard dev of 24.19207249414636